<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="db_server_port" value="3306" />
    <add key="db_server_ip" value="192.168.0.150" />
    <add key="db_name" value="Monitoring" />
    <add key="db_user" value="MonitorSrv" />
    <add key="db_pass" value="MonitorSrv123" />
  </appSettings>
</configuration>