<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Listen_ip" value="0.0.0.0" />
    <add key="Listen_port" value="8888" />
    <add key="timeout" value="10000" />
    <add key="enable_log" value="yes" />

    <add key="db_server_port" value="3306" />
    <add key="db_server_ip" value="192.168.0.200" />
    <add key="db_name" value="Monitoring" />
    <add key="db_user" value="Monitoring" />
    <add key="db_pass" value="MonitorSRV123" />
  </appSettings>
</configuration>